# 4.5: Data Consistency Checks

## Importing Libraries

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

## Importing Data

In [2]:
# define a path folder

path = r'C:\Users\jeanclaude\Instacart Basket Analysis'

# import data "orders_wrangled.csv" data set

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

# import data "products.csv" dqta set 

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

## Mixed-Type Data

In [3]:
# create a test dataframe

df_test = pd.DataFrame()

In [4]:
# create a mixed type colomn

df_test['mix'] = ['a', 'b', 1, True]

In [5]:
# check output of test
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [6]:
# check for mixed types

# the structure that’s being used in this code is called a “for-loop.” The “for” in for-loop stands for “for these elements, 
# do this,” and the “loop” describes how the structure works: looping over and over again as it performs the procedures 
# detailed by the “for.” Here, the for-loop is looping through each column in the dataframe and 
# executing the same block of code each time.

# within the for-loop, a new variable is created: weird. Assigned to it is a test that checks whether the data types 
# within the column are consistent. The weird variable will ultimately take a boolean value of either True or False. 
# if True, that means the column contains inconsistent data types. If False, that means the column contains only one data type. 
# boolean values can also be represented by numbers: 0 as False and 1 as True.

# here comes the “if” statement. An if statement checks if some condition is met, and if it’s met, executes a line of code. 
# if the condition isn’t met, the code isn’t executed. Here, the if statement is checking whether weird is true or false. 
# if it’s greater than 0, than it’s true. If not, it’s false. If weird is true, the command print(col) is executed, 
# which prints the problematic column for you to see. Because of the for-loop, 
# this command will be executed on every column in your dataframe, printing every mixed-type column it finds.

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [7]:
# changing data type to string

df_test['mix'] = df_test['mix'].astype('str')

## Missing Values

In [8]:
# isnull() function is used to find missing observations from the df_prods dataframe. 
# then sum the result with the attached sum() function.

df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [9]:
# to actually view these 16 values, you can create a subset of the dataframe containing only the values in question.

df_nan = df_prods[df_prods["product_name"].isnull() == True]

In [10]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

### Addressing Missing Values

In [11]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [12]:
df_prods.median()

C:\Users\jeanclaude\AppData\Local\Temp\ipykernel_12544\3387230063.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_prods.median()

product_id       24845.0
aisle_id            69.0
department_id       13.0
prices               7.1
dtype: float64

In [13]:
# the shape function returns the number of rows and columns in a dataframe.

df_prods.shape

(49693, 5)

In [14]:
# create dataframe without missing values in 'product_name' column

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [15]:
# check to see if the number of rows have been dropped

df_prods_clean.shape

(49677, 5)

## Duplicates

In [16]:
# finding full duplicates within dataframe:
# this code creates a new subset of df_prods_clean—df_dups—containing only rows that are duplicates. 
# the duplicated() function is what identifies duplicate rows. It’s run on the df_prods_clean dataframe. 
# any duplicate rows that it finds are saved within the new df_dups dataframe.

df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [17]:
# display all duplicates in the dataframe

df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

### Addressing Duplicates

In [20]:
df_prods_clean.shape

(49677, 5)

In [21]:
# new dataframe that does not include duplicates

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [22]:
# check to see that the duplicates were dropped

df_prods_clean_no_dups.shape

(49672, 5)

## Tidying up and Exporting changes

In [23]:
# export the data and rename to 'products_checked.csv'

df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# Exercise 4.5 - Data Consistency Checks Task

### Direction 1

In [24]:
# if you haven’t performed the consistency checks covered in this Exercise on your df_prods dataframe, do so now.
# completed above.

### Direction 2

In [25]:
# run the df.describe() function on your df_ords dataframe. 
# using your new knowledge about how to interpret the output of this function, 
# share in a markdown cell whether anything about the data looks off or should be investigated further.
# Tip: Keep an eye on min and max values!

df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

#### orders_day_of_week is between 0 and 6 which is what we would expect
#### orders_day_of_week 50% is 3, also to be expected mid week
#### order_hour_of_day is between 0 and 23 which is what we would expect
#### days_since_prior_order is not negative

### Direction 3

In [26]:
# check for mixed-type data in your df_ords dataframe.

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Unnamed: 0  consistent
order_id  consistent
user_id  consistent
eval_set  consistent
order_number  consistent
orders_day_of_week  consistent
order_hour_of_day  consistent
days_since_prior_order  consistent

### Direction 4

In [27]:
# if you find mixed-type data, fix it. The column in question should contain observations of a single data type.
# no mixed data found

### Direction 5

In [28]:
# run a check for missing values in your df_ords dataframe.
# In a markdown cell, report your findings and propose an explanation for any missing values you find.

df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [32]:
# viewing missing values

df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

# viewing first 20
df_ords_nan.head(20)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
11,11,2168274,2,prior,1,2,11,NaN
26,26,1374495,3,prior,1,1,14,NaN
39,39,3343014,4,prior,1,6,11,NaN
45,45,2717275,5,prior,1,3,12,NaN
50,50,2086598,6,prior,1,5,18,NaN
54,54,2565571,7,prior,1,3,9,NaN
75,75,600894,8,prior,1,6,0,NaN
79,79,280530,9,prior,1,1,17,NaN
83,83,1224907,10,prior,1,2,14,NaN
89,89,2411567,11,prior,1,0,11,NaN
97,97,1483446,12,prior,1,1,12,NaN
103,103,2618231,13,prior,1,6,12,NaN
116,116,2906263,14,prior,1,2,18,NaN
130,130,2514324,15,prior,1,5,13,NaN
153,153,1273676,16,prior,1,2,8,NaN
160,160,1737705,17,prior,1,2,13,NaN
201,201,2780889,18,prior,1,6,18,NaN
208,208,1321974,19,prior,1,6,13,NaN
218,218,947722,20,prior,1,1,10,NaN

In [50]:
# checking order number = 1

(df_ords['order_number'] == 1).sum()

206209

206209 Orders come from first time customers

### Direction 6

In [51]:
# address the missing values using an appropriate method.
# in a markdown cell, explain why you used your method of choice.

# replacing nan values with 0
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].fillna(0)

In [52]:
df_ords.isnull().sum()

Unnamed: 0                0
order_id                  0
user_id                   0
eval_set                  0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

days since prior order will all be Nan if this is the customers first order so the Nan value can be changed to 0 days since prior order. This has been used instead for better understanding.

### Direction 7

In [54]:
# run a check for duplicate values in your df_ords data.
# in a markdown cell, report your findings and propose an explanation for any duplicate values you find.

df_ords_dups = df_ords[df_ords.duplicated()]
df_ords_dups.size

0

There are no duplicates found in df_ords

### Direction 8

No duplicates have been found in df_ords so no further action required

### Direction 9

In [56]:
# export df_prods_clean_no_dups

df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# export final df_ords 

df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))