## Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Importing Dataframes

In [9]:
# define a path folder
path = r'C:\Users\jeanclaude\Instacart Basket Analysis'

# import data "products.csv" data set 
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# import data "orders_wrangled.csv" data set
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

## Task Step 3

3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [6]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Task Step 4

4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [8]:
# Check the shape (Always check)
df_ords_prods_combined.shape

(32434489, 12)

## Task Step 5

5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [10]:
# Check columns of df_ords_prods_combined
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [17]:
# Check columns of df_prods
df_prods.head(200)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
195,196,Soda,77,7,9.0
196,197,Cold Brew Coffee Tahitian Vanilla,26,7,7.5
197,198,Tzatziki Cucumber Sauce,67,20,9.1
198,199,Herb Thyme Clamshell,16,4,3.8
199,200,Radiant Pantiliners Regular Wrapped Unscented,126,11,4.9

In [14]:
#Colomns not needed dropped
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0'])

In [15]:
# Product_id matches in both dataframes - use this as the key to merge
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [16]:
df_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

## Task Step 6

6. Confirm the results of the merge using the merge flag.

In [18]:
#check the results
df_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
#checking merge shape
df_merged.shape

(32434212, 15)

## Task Step 7

7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [21]:
#Export df_merged as pickle file due to size
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))